*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;

    background-color: #E7F6FF;
}

.layout {
    --offset: 48px;

    max-width: calc(1080px + var(--offset) * 2);
    padding: 0px var(--offset);

    margin: 0 auto;
    margin-top: 96px;

    background-color: #fff;

    border-radius: 24px 24px 0 0;

    min-height: calc(100vh - 96px);
}

// Header

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 calc(var(--offset) * -1);
    padding: 32px var(--offset);

    border-bottom: 1px solid #eaeaea;

    nav {
        gap: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        a, 
        button {
            text-decoration: none;
            border: none;
            outline: none;

            font-size: 14px;
            font-weight: 600;

            font-family: "Inter", sans-serif;

            background-color: transparent;

            color: #5c5c5c;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            cursor: pointer;
        }
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    h1 {
        font-family: "Inter";
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;

        color: #000;
    }

    p {
        font-size: 14px;
        line-height: 17px;
        color: #9d9d9d;
    }
}